.popup {margin:0; width: 300px; max-width: 300px;}
img {max-width: 300px !important; max-height: 200px !important;}
.mapboxgl-popup-content {background-color: rgba(44,62,80,0.9); color:white; border-radius: 25px; width: 320px; min-height:340px;}
audio { position: absolute; left:25%; bottom:0; width: 50%; margin-bottom: 5px;}
#titleaudio {
    margin: 8px;
    display:none;
    position: absolute;
    left:8%; bottom:0;
    width: 15%;
    background-color: rgba(230, 76, 60, 0.9);
    color: white;
    font-size:16px;
    border-radius: 10px;
}
#titleescale {
    margin: 8px;
    display:none;
    position: absolute;
    left:76%; bottom:0;
    width: 15%;
    background-color: rgba(52, 152, 219,0.9);
    color: white;
    font-size:16px;
    border-radius: 10px;
    z-index: 1000;
}
#credit {
    margin: 4px;
    position: absolute;
    left:2%; top:0;
    width: 10%;
    background-color: rgba(44,62,80,0.9);
    color: white;
    font-size:12px;
    border-radius: 10px;
    z-index: 1000;
}
#titre {
    margin: 0;
    padding: 5px;
    color: rgba(44,62,80,1);
    font-size: 40px;
    position: absolute;
    top: 1%;
    left: 40%;
    font-weigth: bold;
    font-family: Futura;
    background-color: rgba(255,255,255,0.5);
    border-radius: 10px;
}
#popupcredit{
    display:none;
    z-index: 1000;
    position:absolute;
    margin: 0;
    width: 60%;
    top: 5%; left:20%;
    padding: 1%;
    background-color: rgba(44,62,80,0.9); color:white; border-radius: 25px;
}
